.login{
    width: 100vw;
    height: 100vh ;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f2f5;
   
}



.loginWrapper{
    width: 70%;
    height: 70%;
    display: flex;
}

.loginLeft,.loginRight{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
}

.loginLogo{
    font-size: 50px;
    margin-top: 55%;
    color: rgb(32, 40, 32);
    margin-left: 61% ;
  
}

.loginText{
    font-size: 24px;
    margin-left: 60%;
    margin-top: 0%;
}

.loginBox{
    height: 350px;
    padding: 20px;
    display: flex;
    background-color: white;
    border-radius: 10px;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 55%;
    margin-top: 0%;
}

.loginLeft{
    
    position: absolute;
    height: 1585px;
    width: 1550px;
    top: -10%;
    right: 48%;
    transform: translateY(-50%);
    background-image: linear-gradient(-45deg, #73eb44 0%, #3afe04 100%); 
    border-radius: 50%;
    z-index: 6;
    
   
}

.loginImg{
    width: 500px;
    height: 500px;
    margin-left: 60%;
    margin-top: 0%;
}

.loginInput{
    height: 50px;
    border-radius: 10px;
    border: 1px solid gray;
    font-size: 18px;
    padding-left: 20px;
}

.loginInput:focus{
    outline: none;
}

.loginButton{
    height: 50px;
    border-radius: 10px;
    border:none;
    background-color: green;
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
    margin-top:5px ;
}



.loginRegisterButton{
    height: 50px;
    border-radius: 10px;
    border:none;
    background-color: blue;
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    width: 50%;
    align-self: center;
    margin-top: 10px; 
}


.buttonText1{
    margin-left: 7%;
    margin-top: 4%;
 
    
    display: flex;

}

.forgetButton{
    border: none;
    text-decoration: none;
    background: none;   
    color: #1775ee;
    padding-top: 10px; 
    
}